__pycache__
migrations
__init__.py
admin.py
apps.py
tests.py
asgi.py
wsgi.py
manage.py
venvs
node_modules
public
babel.config.js
jsconfig.json
package-lock.json
package.json
vue.config.js
front/gestao-pecuaria-frontend/README.md
front/gestao-pecuaria-frontend/.gitignore
.env
back/projetos/gestaoPecuaria/media/fotos-animais
/venv

