
__pycache__/
migrations/
venvs/
node_modules/
public/
back/projetos/gestaoPecuaria/media/fotos-animais/
venv/
env/
__init__.py
admin.py
apps.py
tests.py
asgi.py
wsgi.py
manage.py
babel.config.js
jsconfig.json
package-lock.json
package.json
vue.config.js
front/gestao-pecuaria-frontend/README.md
front/gestao-pecuaria-frontend/.gitignore
.env
.gitignore:Zone.Identifier
db.sqlite3
test_env.py


